<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chenjiajin.rocketmqdemo.dbtest.mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="chenjiajin.rocketmqdemo.dbtest.entity.OrerInfo">
        <id column="order_id" property="orderId" />
        <result column="order_number_id" property="orderNumberId" />
        <result column="order_name" property="orderName" />
        <result column="order_create" property="orderCreate" />
        <result column="order_type" property="orderType" />
        <result column="order_product_id" property="orderProductId" />
        <result column="order_user_id" property="orderUserId" />
    </resultMap>

</mapper>
